.container {
    position: absolute;
    width: 870px;
    height: 368px;
    left: 285px;
    top: 205px;
}

.homeData1 {
    position: absolute;
    width: 870px;
    height: 160px;
    left: 285px;
    top: 205px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    /* or 133% */
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}

.homeData2 {
    position: absolute;
    width: 668px;
    height: 60px;
    left: 386px;
    top: 397px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.signUpButton{
    position: absolute;
    width: 162px;
    height: 60px;
    left: 639px;
    top: 513px;
    background:#FF5C66;
    color:#fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}